$primary_color: white;
$primary_color2: rgb(234, 234, 234);
$primary_color3: black;
$primary_color4: rgb(50, 50, 50);

$heading_color: black;
$heading_color2: coral;
$heading_color3: white;

$font_color: black;
$font_color2: white;

$inpute_color: rgb(234, 234, 234);

$footer_color: rgb(26, 26, 26);