@mixin mobilelScreen_p_fonts {
    font-size: .7rem;
    font-weight: 400;
    letter-spacing: .1em;
    text-align: justify;
}
@mixin desktopScreen_p_fonts {
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: .1em;
    text-align: justify;
}
@mixin mobileScreen_h1_font {
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: .1em;
}
@mixin desktopScreen_font2 {
    font-size: 1.5rem;
    font-weight: bolder;
}
